.card__like-counter {
    display: inline-block;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 13px;
    line-height: 16px;
    width: 10px;
}